Source: opencart
Section: unknown
Priority: extra
Maintainer: Ubuntu <maintainer@example.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.opencart.com/

Package: opencart
Architecture: any
Depends: php5-mysql, php5-gd, php5-curl, apache2, php5
Description: A powerful open source shopping cart
 A robust e-commerce solution for Internet merchants with the ability to create their own online business and participate in e-commerce at a minimal cost.
